<div class="navbar-lewagon">
  <h1>Restaurants</h1>
</div>

<br>

<%= link_to "Add a restaurant", new_restaurant_path %>

<br>
<div class="container my-5">
  <div class="cards">
    <% @restaurants.each do |restaurant| %>
      <div class="card-trip">
        <img src="https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80)">
        <div class="card-trip-infos">
        <h2><%=link_to  restaurant.name , restaurant_path(restaurant)%></h2>
        <p><%= restaurant.category %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
